 // _reset.scss

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // Placeholder for flex centering
  %flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  